---
draft: true
---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = "https://mizan-stance.org" -%}
{%- for page in collections.all -%}
  {%- if page.url
        and page.url != "/sitemap.xml"
        and page.url != "/robots.txt"
        and (page.url.startsWith("/fr/") or page.url.startsWith("/en/") or page.url == "/")
  -%}
  <url>
    <loc>{{ base }}{{ page.url }}</loc>
    {%- if page.data.lastmod -%}
    <lastmod>{{ page.data.lastmod }}</lastmod>
    {%- endif -%}
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
